TerraScanSmartClient/Source/Infrastructure/TerraScan.Helper/Service References/WCFService/SmartClientService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataSet" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:element ref="xs:schema" />
        <xs:any />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F25000FieldUseData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="F25000FieldUseData" Namespace="http://schemas.datacontract.org/2004/07/TerraScan.BusinessEntities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/F25000FieldUseData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F3230FieldUseData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="F3230FieldUseData" Namespace="http://schemas.datacontract.org/2004/07/TerraScan.BusinessEntities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/F3230FieldUseData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F3230CheckInData" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="F3230CheckInData" Namespace="http://schemas.datacontract.org/2004/07/TerraScan.BusinessEntities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any namespace="http://tempuri.org/F3230CheckInData.xsd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>